/* .category-container {
  display: flex
}
.category-btn {
  background-color: rgb(144, 190, 222);
  cursor: pointer;
  font-weight: 800;
  margin: 4px;
  padding: 12px;
}
.category-btn.selected {
  background-color:rgb(144, 243, 255);
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px;

}
.product-item {
  max-width: 200px;
  margin: 30px;
}
img {
  width: 100%;
}
@media (max-width: 400px) {
  .category-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr)
  }
}



.App {
text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
background-color: #282c34;
min-height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: calc(10px + 2vmin);
color: white;
}

.App-link {
color: #61dafb;
} */